@import "tailwindcss";



@theme {
    --width-container: 1070px;
    --font-popins: "Poppins", serif;
    --font-inter: "Inter", serif;
    --color-primary: #00C0FF;
    --color-secondary: #FFFFFF;
    --background-image-bodyImg: url('./assets/Main_Background.png');

    --animate-typeWriter: typeWriter 7s  steps(16) infinite  ;
    @keyframes typeWriter {
      0% {
        width: 0ch;
      }
      50% {
        width: 16ch;
      }
    }
  }

 